{% extends "base.html" %}

{% block title %}顧客一覧{% endblock %}

{% block content %}
<h1>顧客一覧</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.tel }}</td>
        <td>{{ customer.email }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('index') }}">トップページに戻る</a>
{% endblock %}