{% extends "base.html" %}

{% block title %}製品一覧{% endblock %}

{% block content %}
<h1>製品一覧</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>価格</th>
        <th>在庫数</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('index') }}">トップページに戻る</a>
{% endblock %}